 #  Basic Level:

 1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [2]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

 2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [3]:
l=[1,2,3,4,5,6,7,8,9]
total=0
for num in l:
    total+=num
print(total)

45

 3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [5]:
str1="123456789"
for i in str1[::-1]:
    print(i,end='')

987654321

 4. Develop a program that finds the factorial of a given number using a `for` loop.

In [8]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    print(fact)

In [9]:
fact(5)

120

 5. Create a program to print the multiplication table of a given number using a `for` loop.

In [12]:
def table(n):
    for num in range(1,11):
        print(n,'*',num,'=',n*num)

In [13]:
table(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

 6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [16]:
def count_odd_even(l):
    odd=0
    even=0
    for i in l:
        if i%2==0:
            even+=1
        else:
            odd+=1
    print(f"Total count of odd:{odd} and even:{even}")

In [17]:
l=[1,2,3,4,5,6,7,8,9,0]
count_odd_even(l)

Total count of odd:5 and even:5

 7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [20]:
for i in range(1,6):
    print(i,'square',i**2)

1 square 1
2 square 4
3 square 9
4 square 16
5 square 25

 8. Create a program to find the length of a string without using the `len()` function.

In [21]:
str1="123456"
length=0
for i in str1:
    length+=1
print("Length of string:",length)

Length of string: 6

 9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [24]:
a=[1,2,3,4,5]
total=0
for i in a:
    total+=i
print("Average of given list is:",total/len(a))

Average of given list is: 3.0

 10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [31]:
def fibo(n):
    a=0
    b=1
    nextfib=b
    for i in range(0,n):
        if i<=1:
            print(i)
        else:
            print(nextfib)
            a,b=b,nextfib
            nextfib=a+b

In [33]:
fibo(10)

0
1
1
2
3
5
8
13
21
34

#  Intermediate Level:

 11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [36]:
l=[1,2,3,4,5,1,5]
a=1
duplicate=[]
for i in l:
    if i in l[a:]:
        duplicate.append(i)
    a+=1
if duplicate:
    print("Yes there is duplicate:",duplicate)
else:
    print("No there is no duplicate:")

Yes there is duplicate: [1, 5]

 12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [57]:
def get_prime(n):
    list1=[]
    list2=list(range(2,n+1))
    prime=[]
    for i in range(2,n+1):
        for j in range(2,n+1):
            if j<i and i%j==0:
                list1.append(i)
    for i in list2:
        if i not in list1:
            prime.append(i)
    print(prime)

In [58]:
get_prime(10)

[2, 3, 5, 7]

 13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [45]:
def vowel_counter(string):
    vowel="a,e,i,o,u"
    count=0
    for i in string.lower():
        if i in vowel:
            count+=1
    print("Count of vowel:", count)

In [46]:
vowel_counter("Hello friend")

Count of vowel: 4

 14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [8]:
two_d_list=[[2,1,4],[2,4,5,6],[7,2,1,9]]
def find_max(two_d):
    list1=[]
    for i in two_d:
        for j in i:
            list1.append(j)
    print("maximum element in 2d list is:", max(list1))

In [9]:
find_max(two_d_list)

maximum element in 2d list is: 9

 15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [61]:
def remove_element(l,element):
    modified_list=[]
    for i in l:
        if i==element:
            continue
        else:
            modified_list.append(i)
    return modified_list

In [62]:
l=[1,2,3,4,5,62,1,2,1,1]
remove_element(l,1)

[2, 3, 4, 5, 62, 2]

 16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [67]:
for i in range(1,6):
    print('-----Table of',i,'-----')
    for j in range(1,11):
        print(i,'*',j,'=',i*j)

-----Table of 1 -----
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
-----Table of 2 -----
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
-----Table of 3 -----
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
-----Table of 4 -----
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
-----Table of 5 -----
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

 17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [73]:
Fahrenheit_temperatures= [40,45,60,55]
for i in Fahrenheit_temperatures:
    print("Fahrenheit",i,'=',(i-32)*5/9," is Celsius.")

Fahrenheit 40 = 4.444444444444445  is Celsius.
Fahrenheit 45 = 7.222222222222222  is Celsius.
Fahrenheit 60 = 15.555555555555555  is Celsius.
Fahrenheit 55 = 12.777777777777779  is Celsius.

 18. Create a program to print the common elements from two lists using a `for` loop.

In [76]:
def common_elements(l1,l2):
    common=[]
    for i in l1:
        if i in l2:
            common.append(i)
    print ("Common elements are:",common)

In [77]:
l1=[1,2,3,4,5]
l2=[3,4,5,6,7,8]
common_elements(l1,l2)

Common elements are: [3, 4, 5]


 19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern

In [78]:
for i in range(1,11):
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********
**********

 20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [14]:
a=20
b=40
def find_gcd(a,b):
    common_divisor=[]
    for i in range(2,a+b):
        if a%i==0 and b%i==0:
            common_divisor.append(i)
    print("The greatest common divisor is:",max(common_divisor))

In [15]:
find_gcd(a,b)

The greatest common divisor is: 20

# Advanced Level:

 21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [69]:
a=[1234,2,32]
sumof=sum([int(i) for i in str(a) if i.isdigit()])
print("sum of digit  is:",sumof)

sum of digit  is: 17

 22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [21]:
def get_primefactor(n):
    factor=[i for i in range(2,n+1) if n%i==0]
    list1=[]
    list2=list(range(2,n+1))
    prime=[]
    for i in factor:
        for j in list2:
            if j<i and i%j==0:
                list1.append(i)
    for i in factor:
        if i not in list1:
            prime.append(i)
    print("Prime Factor of given number is:", prime)

In [22]:
get_primefactor(49)

Prime Factor of given number is: [7]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [28]:
list2=[1,2,4,5,3,2,1,'R','o','R']
Unique=list({i for i in list2})
print("Unique list:", Unique)

Unique list: [1, 2, 3, 4, 5, 'R', 'o']

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [39]:
def palindromic_numbers(limit):
    print("Palindromic Numbers:", [i for i in range(limit) if str(i)==str(i)[::-1]])

In [40]:
palindromic_numbers(100)

Palindromic Numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

 25. Write a program to flatten a nested list using list comprehension.

In [43]:
nested_list=[[1,2,3],[4,5,6],[2,6,7,8]]
flatten_list=[j for i in nested_list for j in i]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 2, 6, 7, 8]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list 
comprehension.

In [128]:
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

sum_of_even=sum([i for i in num if i%2==0])
sum_of_odd=sum([i for i in num if i%2!=0])

print("Sum of even numbers:", sum_of_even)
print("Sum of odd numbers:", sum_of_odd)

Sum of even numbers: 56
Sum of odd numbers: 64

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list 
comprehension.

In [136]:
square_list=[i*i for i in range(1,11)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [140]:
list1=['Rohit','Hepsi',"uday","kajal"]
list2=[1,2,3,4]

combine_dict={list1[i]:list2[i] for i in range(len(list1))}

In [141]:
combine_dict

{'Rohit': 1, 'Hepsi': 2, 'uday': 3, 'kajal': 4}

 29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [142]:
def extract_vowel(string):
    vowel="aeiouAEIOU"
    extracted_vowel=[i for i in string if i in vowel]
    return extracted_vowel

In [145]:
string="My name is Rohit Deval"
list1=extract_vowel(string)
print("Vowel in given string is:",list1)

Vowel in given string is: ['a', 'e', 'i', 'o', 'i', 'e', 'a']

 30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [152]:
list3=["a",'b','c',1,2,3,4,'e','r',3]
updated_list=[i for i in list3 if type(i)==int]
print("After removing non-numeric elements:",updated_list)

After removing non-numeric elements: [1, 2, 3, 4, 3]

 # Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list 
comprehension

In [167]:
def sieve_of_eratosthenes(n):
    primes = [True] * (n + 1)
    primes[0] = primes[1] = False
    p = 2
    while p * p <= n:
        if primes[p]:
            for i in range(p * p, n + 1, p):
                primes[i] = False
        p += 1
    return [i for i, prime in enumerate(primes) if prime]

n = 30
print(f"Prime numbers up to {n}: {sieve_of_eratosthenes(n)}")

Prime numbers up to 30: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list 
comprehension

In [173]:
limit=int(input("please enter a limit for triplets"))
pythagorean_triplet= [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a**2 + b**2 == c**2]
print("Pythagorean triplets :",pythagorean_triplet)

please enter a limit for triplets 10

Pythagorean triplets : [(3, 4, 5)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [174]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,0]
combination_of_list=[(x,y) for x in list1 for y in list2]

In [175]:
print(combination_of_list)

[(1, 6), (1, 7), (1, 8), (1, 9), (1, 0), (2, 6), (2, 7), (2, 8), (2, 9), (2, 0), (3, 6), (3, 7), (3, 8), (3, 9), (3, 0), (4, 6), (4, 7), (4, 8), (4, 9), (4, 0), (5, 6), (5, 7), (5, 8), (5, 9), (5, 0)]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list 
comprehension.

In [219]:
l1=[1,2,3,4,5,7,7,8]
mean=sum(l1)/len(l1)  #mean calculation
print("Mean =",mean)

# median 
sorted_list=sorted(l1)
n=len(sorted_list)
median=(sorted_list[n//2] if n%2!=0 else (sorted_list[n//2-1]+sorted_list[n//2])/2 )
print("Median=",median)

#mode
frequency={}
for i in l1:
    if i in frequency:
        frequency[i]+=1
    else:
        frequency[i]=1
max_count=max(frequency.values())
mode = [key for key, value in frequency.items() if value == max_count]

if len(mode) == len(numbers):
    print( "No mode found")
else:
    print("Mode=",mode)

Mean = 4.625
Median= 4.5
Mode= [7]

35. Create a program that generates Pascal's triangle up to a specified number of rows using list 
comprehension

In [253]:
def PascalTriangle(n):
   trow = [1]
   y = [0]
   for x in range(n):
      print('\t',trow)
      trow=[left+right for left,right in zip(trow+y, y+trow)]

In [256]:
PascalTriangle(9)

	 [1]
	 [1, 1]
	 [1, 2, 1]
	 [1, 3, 3, 1]
	 [1, 4, 6, 4, 1]
	 [1, 5, 10, 10, 5, 1]
	 [1, 6, 15, 20, 15, 6, 1]
	 [1, 7, 21, 35, 35, 21, 7, 1]
	 [1, 8, 28, 56, 70, 56, 28, 8, 1]

 36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list 
comprehension.

In [288]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

sum_of_digits=sum([int(j) for i in range(1,6) for j in str(factorial(i))])
print("Sum of digit:",sum_of_digits)

Sum of digit: 18

37. Write a program that finds the longest word in a sentence using list comprehension.

In [300]:
str1="i am going to finish loop asignment today itself"
l2=str1.split()

longest_word=max([("longest word with length",len(i),"is",i) for i in l2])
print(longest_word)

('longest word with length', 9, 'is', 'asignment')

38. Create a program that filters a list of strings to include only those with more than three vowels using list 
comprehension.

In [325]:
l3=['the','teacher','encouraged']
vowel="aeiouAEIOU"
result=[word for word in l3 if sum(1 for char in word if char in vowel )>3]
if result:
    print("The word with more than 3 vowels:",result)
else:
    print("There is no word with more than 3 vowels")

The word with more than 3 vowels: ['encouraged']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list 
comprehension.

In [348]:
numbers=list(range(1,1001))
sumof=sum([int(i) for i in str(numbers) if i.isdigit()])

In [346]:
print("sum of digit  is:",sumof)

sum of digit  is: 13501

40. Write a program that generates a list of prime palindromic numbers using list comprehension

In [363]:
def palindromic_prime(n):
    list1=[]
    list2=list(range(2,n+1))
    prime=[]
    for i in range(2,n+1):
        for j in range(2,n+1):
            if j<i and i%j==0:
                list1.append(i)
    for i in list2:
        if i not in list1:
            prime.append(i)
    print("Palindromic Prime Numbers:", [i for i in prime if str(i)==str(i)[::-1]])

In [364]:
palindromic_prime(1000)

Palindromic Prime Numbers: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]